<div *ngIf="hotel | async as hotel" class="container">
  <div class="row my-3">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img class="img-fluid" src="{{hotel.coverImage}}" alt="{{hotel.name}}" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3>{{hotel.name}}</h3>
      <h6 class="text-muted">{{hotel.pricePerNight}}zł za noc</h6>

      <hr>

      <p>Adres: {{hotel.address.street}} {{hotel.address.houseNumber}}, {{hotel.address.postalCode}}, {{hotel.address.city.name}}</p>
      <p>Kontakt: {{hotel.contact.phoneNumber}} {{hotel.contact.email}}</p>

      <hr>

      <p *ngIf="hotel.hasTelevision">✅ Telewizja</p>
      <p *ngIf="hotel.hasInternet">✅ Internet</p>
      <p *ngIf="hotel.hasCafeteria">✅ Stołówka</p>
      <p *ngIf="hotel.hasParking">✅ Parking</p>

      <hr>

      <div class="col-12">
        <p>{{hotel.description}}</p>
      </div>
    </div>
  </div>
</div>