<button type="button" class="btn btn-outline-success w-100" data-bs-toggle="modal"
    data-bs-target="#addHotelModal">Dodaj</button>

<!-- Add hotel modal -->
<div class="modal fade" id="addHotelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (submit)="addHotel()" [formGroup]="addHotelForm">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj hotel</h4>
                    <button title="close" type="button" #closeButton class="btn btn-close"
                        data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="hotelName" name="hotelName" formControlName="hotelName"
                            placeholder="Enter your hotel name" required #hotelNameInput />
                        <label for="hotelName" class="form-label">Nazwa hotelu:</label>
                        <div class="text-danger" *ngIf="hotelName?.invalid && (hotelName?.dirty || hotelName?.touched)">
                            <div *ngIf="hotelName?.errors?.['required']">Pole nazwa hotelu jest wymagane</div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="description" name="description" formControlName="description"
                            placeholder="Enter your hotel description" />
                        <label for="description" class="form-label">Opis:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="pricePerNight" name="pricePerNight" formControlName="pricePerNight"
                            placeholder="Enter price per night at your hotel" />
                        <label for="pricePerNight" class="form-label">Cena za noc:</label>
                    </div>
                    <hr />
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hasInternet" name="hasInternet" formControlName="hasInternet"
                            placeholder="Does your hotel have internet?">
                        <label class="form-check-label" for="hasInternet">
                            Internet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hasTelevision" name="hasTelevision" formControlName="hasTelevision"
                            placeholder="Does your hotel have televison?">
                        <label class="form-check-label" for="hasTelevision">
                            Telewizja
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hasParking" name="hasParking" formControlName="hasParking"
                            placeholder="Does your hotel have parking?">
                        <label class="form-check-label" for="hasParking">
                            Parking
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hasCafeteria" name="hasCafeteria" formControlName="hasCafeteria"
                            placeholder="Does your hotel have cafeteria?">
                        <label class="form-check-label" for="hasCafeteria">
                            Stołówka
                        </label>
                    </div>
                    <hr />
                    <p class="text-muted">Zdjęcie</p>
                    <hr />
                    <p>Adres</p>
                    <div formGroupName="address">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="street" name="street" formControlName="street"
                                placeholder="Enter street" required />
                            <label for="street" class="form-label">Ulica:</label>
                            <div class="text-danger" *ngIf="street?.invalid && (street?.dirty || street?.touched)">
                                <div *ngIf="street?.errors?.['required']">Pole ulica jest wymagane</div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="houseNumber" name="houseNumber" formControlName="houseNumber"
                                placeholder="Enter house number" />
                            <label for="street" class="form-label">Nr budynku:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="postalCode" name="postalCode" formControlName="postalCode"
                                placeholder="Enter postal code" />
                            <label for="postalCode" class="form-label">Kod pocztowy:</label>
                        </div>
                    </div>
                    <hr />
                    <p>Informacje kontaktowe</p>
                    <div formGroupName="contact">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
                                placeholder="Enter phone number" />
                            <label for="phoneNumber" class="form-label">Nr telefonu:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="email" name="email" formControlName="email"
                                placeholder="Enter email" />
                            <label for="email" class="form-label">E-mail:</label>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" [disabled]="addHotelForm.invalid" class="btn btn-primary">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>
