<button type="button" class="btn btn-outline-success w-100" data-bs-toggle="modal"
    data-bs-target="#addCityModal">Dodaj</button>

<!-- Add city modal -->
<div class="modal fade" id="addCityModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (submit)="addCity()" [formGroup]="addCityForm">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj miasto</h4>
                    <button title="close" type="button" #closeButton class="btn btn-close"
                        data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="cityName" name="cityName" formControlName="cityName"
                            placeholder="Enter your city name" required #cityNameInput />
                        <label for="cityName" class="form-label">Nazwa miasta:</label>
                        <div class="text-danger" *ngIf="cityName?.invalid && (cityName?.dirty || cityName?.touched)">
                            <div *ngIf="cityName?.errors?.['required']">Pole nazwa miasta jest wymagane</div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" [disabled]="addCityForm.invalid" class="btn btn-primary">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>
