<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <td>
                <app-add-city (onCityAdd)="onCityAdd($event)"></app-add-city>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{city.id}}</td>
            <td>{{city.name}}</td>
            <td>
                <a class="btn btn-secondary float-end" [routerLink]="['/admin-panel/city-details', city.id]">Więcej</a>
            </td>
        </tr>
    </tbody>
</table>