.hotels {
  margin-top: 6vw;
  margin-bottom: 2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.hotel-entry {
    width: 39vw;
    border: 1px solid grey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.hotel-image {
    width: 39vw;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hotel-information {
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

a, a:visited {
    text-decoration: none;
    color: black;
}
